# Google Service Account credentials for local development
GOOGLE_SERVICE_ACCOUNT_EMAIL=camila-calendar-sa@canvas-antler-497023-a9.iam.gserviceaccount.com
# Use one of the two below:
# If you prefer to set the private key directly on the env file, replace the value with the full key using \n for line breaks.
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Or use a local JSON key file path:
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./google-service-account.json

# The calendar ID where events will be created
GOOGLE_CALENDAR_ID=primary
